<%- include('partials/header'); -%>

<div class="container cus-container">
  <div class="title about">
    <div class="title-box"></div>
    <div class="title-text">About Us</div>
  </div>
  <div class="container">
    <div class="about-us row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="img-border">
          <div class="img one"></div>
          <h2 class="img-text">Working<br>Together</h2>
        </div>
        <p class="about-text">We at Vastu Rachna Enterprises, are a team of qualified space designing architects and provide professional services in the field of architecture and interior design. Our team includes civil engineers, interior designers, visualizers, brand consultant and liasoning staff.</p>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="img-border">
          <div class="img two"></div>
          <h2 class="img-text">What<br>We<br>Do?</h2>
        </div>
        <p class="about-text">We handle a very diverse portfolio since last 30 years in both the private and public sector. Our commercial projects include both civil and interior work. Occupied and fully operational job sites are never a problem. And we can also plan, manage, and build multi-phase jobs.</p>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="img-border">
          <div class="img three"></div>
          <h2 class="img-text">Why<br>Choose<br>Us?</h2>
        </div>
        <p class="about-text">We provide visually appealing practical and functional solutions and breathtaking contextual architecture and interiors. Call us today and bring our project management skills and extensive construction experience to your next project.</p>
      </div>
    </div>
  </div>

  <div class="title team">
    <div class="title-box"></div>
    <div class="title-text">Our Team</div>
  </div>
  <div class="container">
    <div class="our-team row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="img-border">
          <div class="img dilip"></div>
        </div>
        <div class="text">
          <h2 class="name">Mr. Dilip Raut</h2>
          <p class="small">Director</p>
          <p class="info">Mr Dilip Raut's legacy evolves in the eld of
            construction expertise developed through
            past three decades which has led to the
            forming of the Vastu Rachna Enterprises.
            A successful leader is one who can spur his
            team members to work well together toward a
            common vision and goals.
            Mr. Dilip Raut converts your dreams into
            reality by offering a unique and personal
            touch to the company. Committed to the
            projects by providing the clients and
            businesses with their needs and requirement
            by applying state of our tools, techniques and
            resources with our meticular focus on time,
            quality and sustainable growth makes him
            the pioneer in the construction business.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="img-border">
          <div class="img vivek"></div>
        </div>
        <div class="text">
          <h2 class="name">Mr. Vivek Padwal</h2>
          <p class="small">Creative Director</p>
          <p class="info">An ex creative consultant to Reliance
            Jio Studios, brings the expertise of visual art, advertising and branding.
            His experience in branding brings out
            the aesthetic sense in the business. He
            is recognized by clients and colleagues
            as a consummate professional with a
            high degree of personal integrity. Vivek
            has over 15 yrs of experience in
            advertising and film industry . His
            expertise in areas range from brand
            designing and building, advertising
            campaigns, promotions, events, 
            planning, business administration to marketing.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="img-border">
          <div class="img abhay"></div>
        </div>
        <div class="text">
          <h2 class="name">Mr. Abhay Raut</h2>
          <p class="small">Director Of Operation</p>
          <p class="info">A B.E in civil engineering and an inheritance of his father Mr. Dilip
            Raut’s experience, a base view to
            fabrication detailing, execution and
            management provides an exceptional
            aptitude for identifying risks and
            developing solutions. Making him an
            expert at handling major projects and
            operations at the Vastu Rachna
            Enterprises.</p>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-2 col-md-6 col-sm-6 col-12">
        <div class="img-border">
          <div class="img sona"></div>
        </div>
        <div class="text">
          <h2 class="name">Ms. Sona Choksi</h2>
          <p class="small">Business Developer</p>
          <p class="info">Being a self learner, Sona always 
            had an inclination towards art since very beginning. 
            Her lo ve for art and art forms made her register for
            the fine arts course with Manthan School of Art in 2016. 
            While this course helped her harness her skills her love 
            for art forms; the quest to learn and explore more was far 
            beyond any certification.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 offset-lg-0 offset-md-3 offset-sm-3">
        <div class="img-border">
          <div class="img abhishek"></div>
        </div>
        <div class="text">
          <h2 class="name cust">Mr. Abhishek Jambhalkar</h2>
          <p class="small">Architect</p>
          <p class="info">With an M. Arch (Urban Design),
            London and B. Arch from Sir JJ College
            Of Architecture, Mumbai, Abhishek
            has become a prominent expert in the
            industry.
            A combination of extraordinary talent
            and global experience to create spaces
            aesthetically, can be a cutting edge for
            each of the Clients.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>