<%- include('partials/header'); -%>

<div class="banner">
  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<div class="content">
  <p>We at Vastu Rachna Enterprises, are a team of qualified space designing architects and provide professional services in the field of architecture and interior design. Our team includes civil engineers, interior designers, visualizers, brand consultant and liasoning staff.
  </p>
</div>

<%- include('partials/footer'); -%>

