<%- include('partials/header'); -%>

<div class="banner">
  <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<div class="content">
  <p class="about">About us</p>
  <h3>Working together</h3>
  <p>We at Vastu Rachna Enterprises, are a team of
    qualified space designing architects and provide
    professional services in the field of architecture
    and interior design. Our team includes civil
    engineers, interior designers, visualizers,brand
    consultant and liasoning staff.</p>
  <h3>What we do?</h3>
  <p>We handle a very diverse portfolio since last 30
     years in both the private and public sector. Our commercial
     projects include both civil and interior work.
     Occupied and fully operational job sites are never a problem.
     And we can also plan, manage, and build multi-phase jobs.
  </p>
  <h3>Why choose us?</h3>
  <p>
  We provide visually appealing practical
  and functional solutions and breathtaking
  contextual architecture and interiors.
  Call us today and bring our project management skills 
  and extensive construction experience to your next project.
  </p>
</div>

<%- include('partials/footer'); -%>

