@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@500;600;700;800&display=swap');

@font-face {
	font-family: noto-sans;
	src: url(/fonts/NotoSans-Light.ttf);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

/* navigation bar sytles */

.navbar {
	text-transform: uppercase;
	position: relative;
	width: 100%;
	z-index: 2;
	transition: 0.3s all ease;
}

.navbar .content .logo {
	position: absolute;
	top: 0;
	left: 130px;
	padding: 16px 9px 25px 9px;
	z-index: 1;
	background-color: #fff;
	width: fit-content;
	transition: all 0.4s ease;
}

.navbar .content .box {
	position: absolute;
	top: 37px;
	height: 48px;
	left: 0;
	width: 120px;
	background-color: #4ba414;
}
.navbar .content .menu-list {
	position: absolute;
	top: 37px;
	right: 0;
	left: 253px;
	display: flex;
	margin-bottom: 0;
	justify-content: flex-end;
	background-color: #4ba414;
}

.navbar .content .menu-list li {
	list-style: none;
	margin-right: 2vw;
	padding: 0 8px 0 8px;
}

.navbar .content .menu-list li a {
	display: inline-block;
	padding: 13px 0 14px 0;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	letter-spacing: 2px;
}

.navbar .content .menu-list li:hover {
	background-color: #5dcc17;
	border-bottom: 3px solid #fff;
	transition: all 0.3s ease-in-out;
}

.navbar .menu-list li.active {
	background-color: #5dcc17;
	border-bottom: 3px solid #fff;
}

.navbar .menu-list li.active a {
	color: #fff;
}

.navbar .menu-list li .active:hover {
	color: #fff;
}

.icon {
	font-size: 20px;
	cursor: pointer;
	display: none;
	color: #fff;
}

.navbar .nav-social {
	display: none;
}

.navbar .content .menu-btn {
	display: none;
}

/* footer styles */

footer {
	width: 100%;
	background: #4ba414;
	color: #fff;
	font-size: 15px;
}
.main-content {
	text-align: center;
	padding: 20px 0 0 0;
}

.main-content p {
	margin: 0 0 2px 0;
}

.main-content p a {
	color: #fff;
}

.main-content p a:hover {
	color: #fff;
	text-decoration: none;
}

.main-content p.phone {
	font-size: 16px;
}

.main-content .social {
	margin: 25px 0 7px;
	transition: all 0.3s ease-in;
}

.main-content .social a {
	color: #fff;
}

.main-content .social span:hover {
	opacity: 0.5;
	transform: translateY(-1px);
}

.main-content .social span {
	transition: all 0.5s ease;
	padding: 3px;
	font-size: 23px;
}

footer hr {
	margin-bottom: 0;
}

footer .bottom {
	padding: 7px 0 7px 0;
}

/* home page styles */

.banner {
	margin: 0;
	padding: 0;
}

.banner .slideshow {
	list-style: none;
	z-index: 0;
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}
.banner .slideshow li {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 0;
	opacity: 0;
	animation: imageAnimation 50s linear infinite;
}

@keyframes imageAnimation {
	0% {
		opacity: 0;
		animation-timing-function: ease-in;
	}
	10% {
		opacity: 1;
		animation-timing-function: ease-out;
	}
	20% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
}

.banner .slideshow li:nth-child(1) {
	background-image: url(https://res.cloudinary.com/aadityac73/image/upload/v1603292513/assets/desktop/1_uxqgpc.jpg);
}
.banner .slideshow li:nth-child(2) {
	background-image: url(https://res.cloudinary.com/aadityac73/image/upload/v1603292519/assets/desktop/2_vnee3p.jpg);
	animation-delay: 10s;
}
.banner .slideshow li:nth-child(3) {
	background-image: url(https://res.cloudinary.com/aadityac73/image/upload/v1603292519/assets/desktop/3_oeptdg.jpg);
	animation-delay: 20s;
}
.banner .slideshow li:nth-child(4) {
	background-image: url(https://res.cloudinary.com/aadityac73/image/upload/v1603292520/assets/desktop/4_twfxxt.jpg);
	animation-delay: 30s;
}
.banner .slideshow li:nth-child(5) {
	background-image: url(https://res.cloudinary.com/aadityac73/image/upload/v1603292513/assets/desktop/5_no7kd8.jpg);
	animation-delay: 40s;
}

.content p {
	padding: 50px 0 50px 0;
	font-family: noto-sans;
	font-weight: 300;
	width: 47vw;
	text-align: justify;
	font-size: 22px;
	line-height: 40px;
	letter-spacing: 2px;
	margin: 20px auto 35px auto;
	color: #000;
}

/* about us page styles */

.cus-container {
	padding-top: 130px;
	padding-bottom: 50px;
}
.title.about {
	background: url(https://images.unsplash.com/photo-1516880711640-ef7db81be3e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)
		no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.title.team {
	background: url(https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)
		no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.title.services {
	background: url(https://res.cloudinary.com/aadityac73/image/upload/v1606718862/assets/civil_ylnv5n.jpg) no-repeat;
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
}

.title.portfolio1 {
	background: url(https://res.cloudinary.com/aadityac73/image/upload/v1606719826/assets/bg-port_yl4iid.jpg) no-repeat;
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
}

.title.clientele1 {
	background: url(https://res.cloudinary.com/aadityac73/image/upload/v1607075078/assets/bg-client_u7z1dt.jpg) no-repeat;
	background-position: top;
	background-size: contain;
	background-attachment: fixed;
}

.title.contact1 {
	background: url(https://res.cloudinary.com/aadityac73/image/upload/v1607075954/assets/bg-contact_p32xvt.jpg) no-repeat;
	background-position: top;
	background-size: contain;
	background-attachment: fixed;
}

.title {
	position: relative;
	width: 100%;
	height: 180px;
}

.title .title-box {
	height: 100%;
	width: 100%;
	background-color: #0d128f;
	opacity: 0.4;
}

.title .title-text {
	font-family: 'Saira', sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	position: absolute;
	top: 30px;
	right: 0;
	left: 0;
	width: fit-content;
	margin: auto;
	z-index: 1;
	color: #fff;
	font-size: 2.1em;
}

.about-us {
	padding-top: 30px;
	margin-bottom: 30px;
}

.about-us .img-border {
	position: relative;
	width: 100%;
	height: 200px;
	border: 1px solid #4ba414;
}

.about-us .img-border .img {
	position: absolute;
	top: 3px;
	bottom: 3px;
	right: 3px;
	left: 3px;
	z-index: 0;
	margin: auto;
}

.about-us .img-border .img.one {
	background: url(https://images.unsplash.com/photo-1527525443983-6e60c75fff46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80)
		no-repeat;
	background-position: center;
	background-size: cover;
}

.about-us .img-border .img.two {
	background: url(https://images.unsplash.com/photo-1567954970774-58d6aa6c50dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80)
		no-repeat;
	background-position: center;
	background-size: cover;
}

.about-us .img-border .img.three {
	background: url(https://images.unsplash.com/photo-1414497729697-b8555ba6c1cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1123&q=80)
		no-repeat;
	background-position: center;
	background-size: cover;
}

.about-us .img-border .img-text {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #fff;
	z-index: 1;
}

.about-us .about-text {
	margin-top: 10px;
	text-align: justify;
	font-size: 13px;
	line-height: 23px;
	letter-spacing: 0.09em;
	color: #70766c;
}

.our-team {
	margin-top: -60px;
}

.our-team .img-border {
	width: 200px;
	margin: 0 auto 0 auto;
	height: 200px;
	position: relative;
	border: 1px solid #4ba414;
	border-radius: 50%;
}

.our-team .img-border .img {
	position: absolute;
	top: 3px;
	bottom: 3px;
	right: 3px;
	left: 3px;
	border-radius: 50%;
	background: url(https://res.cloudinary.com/aadityac73/image/upload/v1605900951/assets/team/empty_surjli.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.our-team .img-border .img.vivek {
	background: url(https://res.cloudinary.com/aadityac73/image/upload/v1605900064/assets/team/vivek_yjn1mc.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.our-team .img-border .img.abhay {
	background: url(https://res.cloudinary.com/aadityac73/image/upload/v1605900064/assets/team/abhay_srtvmh.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.our-team .img-border .img.sona {
	background: url(https://res.cloudinary.com/aadityac73/image/upload/v1605900064/assets/team/sona_ylewhn.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.our-team .img-border .img.dilip {
	background: url(https://res.cloudinary.com/aadityac73/image/upload/v1606713608/assets/team/dilip_fqy6wv.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
.our-team .text {
	margin-top: 14px;
	padding: 0 10px 0 10px;
}

.our-team .text .name {
	color: #00aeef;
	font-size: 1.4em;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 0;
}

.our-team .text .name.cust {
	font-size: 1.3em;
	letter-spacing: 0px;
}

.our-team .text .small {
	font-weight: bold;
}

.our-team .text .info {
	text-align: justify;
	line-height: 23px;
	letter-spacing: 1px;
	font-size: 13px;
	color: #70766c;
}

.container-port {
	margin-top: 130px;
	margin-bottom: 15px;
}

.portfolio {
	padding: 20px 7px 40px 7px;
}

.portfolio .col-lg-4,
.portfolio .col-lg-6 {
	padding-left: 0px;
	padding-right: 0px;
}

.portfolio .image-one,
.portfolio .image-two {
	overflow: hidden;
	margin: 7px;
}

.portfolio .image-one img {
	width: 100%;
	height: 230px;
	transform: scale(1);
	transition: all 0.3s;
}

.portfolio .image-one:hover img,
.portfolio .image-two:hover img {
	transform: scale(1.1);
	filter: grayscale();
}

.portfolio .image-two img {
	width: 100%;
	height: 350px;
	transform: scale(1);
	transition: all 0.3s;
}

/* Services page styling */

.service {
	margin-top: 70px;
	margin-bottom: 70px;
}

.service .col-lg-6,
.service .col-md-6 {
	padding-right: 0;
	padding-left: 0;
}

.service-img {
	position: relative;
	width: 100%;
	height: 350px;
	overflow: hidden;
}

.service-img.one {
	background: url(https://res.cloudinary.com/aadityac73/image/upload/v1605963940/assets/Services/civil_npe1mo.jpg)
		no-repeat;
	background-position: center;
	background-size: cover;
}
.service-img.two {
	background: url(https://res.cloudinary.com/aadityac73/image/upload/v1605964566/assets/Services/furniture1_eo1d9e.jpg)
		no-repeat;
	background-position: center;
	background-size: cover;
}
.service-img.three {
	background: url(https://res.cloudinary.com/aadityac73/image/upload/v1605964279/assets/Services/light_f8f7sk.jpg)
		no-repeat;
	background-position: center;
	background-size: cover;
}
.service-img.four {
	background: url(https://res.cloudinary.com/aadityac73/image/upload/v1605964147/assets/Services/painting_qelsyd.jpg)
		no-repeat;
	background-position: center;
	background-size: cover;
}
.service-img.five {
	background: url(https://res.cloudinary.com/aadityac73/image/upload/v1605964239/assets/Services/wall_zgnaq0.jpg)
		no-repeat;
	background-position: center;
	background-size: cover;
}
.service-img.six {
	background: url(https://res.cloudinary.com/aadityac73/image/upload/v1605963940/assets/Services/fire_khxxip.jpg)
		no-repeat;
	background-position: center;
	background-size: cover;
}
.service-img.seven {
	background: url(https://res.cloudinary.com/aadityac73/image/upload/v1605963994/assets/Services/kitchen_ii2nsf.jpg)
		no-repeat;
	background-position: center;
	background-size: cover;
}
.service-img.eight {
	background: url(https://res.cloudinary.com/aadityac73/image/upload/v1605963940/assets/Services/hvac_aijdex.jpg)
		no-repeat;
	background-position: center;
	background-size: cover;
}
.service-img.nine {
	background: url(https://res.cloudinary.com/aadityac73/image/upload/v1605964373/assets/Services/flooring_ehpktr.jpg)
		no-repeat;
	background-position: center;
	background-size: cover;
}
.service-img.ten {
	background: url(https://res.cloudinary.com/aadityac73/image/upload/v1605964372/assets/Services/branding_czqg9p.jpg)
		no-repeat;
	background-position: center;
	background-size: cover;
}

.service-img:hover {
	cursor: pointer;
}

.service-img .box {
	width: 100%;
	height: 100%;
	opacity: .5;
}

.service-img.one .box {
	background-color: #cc3535;
}

.service-img.two .box {
	background-color: #82d96c;
}

.service-img.three .box {
	background-color: #c3b42a;
}

.service-img.four .box {
	background-color: #1f5bb6;
}

.service-img.five .box {
	background-color: #e747c3;
}

.service-img.six .box {
	background-color: #cc3535;
}

.service-img.seven .box {
	background-color: #36c8f5;
}

.service-img.eight .box {
	background-color: #0fff35;
}

.service-img.nine .box {
	background-color: #1f5bb6;
}

.service-img.ten .box {
	background-color: #221b19;
}

.service-img .text {
	font-family: 'Saira', sans-serif;
	font-weight: 600;
	position: absolute;
	font-size: 1.3em;
	top: 130px;
	right: 0;
	left: 0;
	width: fit-content;
	margin: auto;
	color: #fff;
	z-index: 1;
	transition: all 0.4s ease-in;
}

.service-img.hover .text {
	font-family: 'Saira', sans-serif;
	font-weight: 600;
	position: absolute;
	top: 30px;
	right: 0;
	left: 0;
	width: fit-content;
	margin: auto;
	color: #fff;
	z-index: 1;
}

.service-img .desc {
	position: absolute;
	width: 360px;
	left: 0;
	right: 0;
	top: 350px;
	text-align: justify;
	margin: auto;
	color: #fff;
	font-size: 1.01em;
}

.service-img.hover .desc {
	animation: slideIn .5s linear;
	top: 80px;
}

@keyframes slideIn {
	0% {
		transform: translateY(360px);
		opacity: 0;
		width: 60px;
	}
	20% {
		transform: translateY(300px);
		opacity: 0.2;
		width: 120px;
	}
	40% {
		transform: translateY(240px);
		opacity: 0.4;
		width: 180px;
	}
	60% {
		transform: translateY(180px);
		opacity: 0.6;
		width: 240px;
	}
	80% {
		transform: translateY(100px);
		opacity: 0.8;
		width: 300px;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
		width: 360px;
	}
}

.clientele {
	padding: 25px 50px 50px 50px;
}

.clientele .logo {
	width: 185px;
	height: 185px;
	margin: 0 auto 0 auto;
	transition: all 0.2s ease-in;
}

.clientele .logo:hover {
	box-shadow: 0 0 11px rgba(33, 33, 33, .2);
	transform: translateY(-10px);
}

.clientele .logo img {
	width: 100%;
	padding: 20px;
	height: 100%;
}

.clientele .name {
	display: none;
	color: navy;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: .9em;
	margin-top: 5px;
	margin-bottom: 20px;
}

.contact {
	margin-top: 80px;
	margin-bottom: 100px;
}

.contact .form-title {
	font-size: 1.7em;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 30px;
}

.contact .form-group label {
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.contact .form-group input[type='number']::-webkit-inner-spin-button,
.contact .form-group input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.contact .form-group input,
.contact .form-group textarea {
	width: 100%;
	border-radius: 0;
	border: 2px solid #4ba414;
	padding: 4px 5px 4px 6px;
}

.contact .form-group input:focus,
.contact .form-group textarea:focus {
	outline: none;
}

.contact .form-btn {
	color: #fff;
	background-color: #4ba414;
	padding: 5px 20px;
	font-style: italic;
	text-transform: uppercase;
	border: none;
	font-size: 1.25em;
	letter-spacing: 2px;
	border: 2px solid #4ba414;
	transition: all 0.3s ease-in-out;
}

.contact .form-custom {
	margin-bottom: 40px;
}

.contact .form-btn:hover {
	color: #4ba414;
	background-color: #fff;
}

.contact .form-btn:focus {
	outline: none;
}

.contact .phone {
	text-align: center;
	margin: 40px 0;
	letter-spacing: 1px;
}

.contact .phone p {
	margin: 9px 0;
}

.contact .phone p a {
	color: #000;
}

.contact .phone p a:hover {
	text-decoration: none;
}

.contact .info {
	margin-top: 30px;
}

.contact .info p {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.1em;
	text-align: center;
	letter-spacing: 1px;
	height: fit-content;
	margin-bottom: 30px;
}

.contact .info .address {
	font-size: .9em;
}

.contact .map {
	margin-top: 50px;
}

.contact .map iframe {
	width: 100%;
	height: 400px;
	filter: grayscale();
}

.container.admin {
	margin: 150px auto 100px auto;
	min-height: 50vh;
}

.container .alert {
	margin: 120px auto -100px auto;
}

.nav-btn {
	letter-spacing: 1px;
}

@media (max-width: 891px) {
	body.disabled {
		overflow: hidden;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.navbar {
		position: relative;
	}
	.navbar .content .menu-list {
		position: fixed;
		top: 0;
		display: block;
		padding: 100px 0 0 0;
		left: -100%;
		width: 100%;
		background-color: #fff;
		height: 100vh;
		z-index: 1;
		transition: all 0.3s ease;
	}
	.navbar.show .content .menu-list {
		left: 0;
	}
	.navbar.show .content .menu-list .cancel-btn {
		color: #000;
		font-size: 23px;
		width: fit-content;
		padding-left: 90vw;
		margin-top: -85px;
		margin-bottom: 120px;
	}
	.navbar .content .menu-list li {
		margin-top: 14px;
		padding: 0 0 0 30px;
	}

	.navbar .content .menu-list li a {
		display: inline-block;
		padding: 1px 0 0 0;
		text-decoration: none;
		color: #000;
		font-size: 18px;
		letter-spacing: 3px;
	}

	.navbar .content .menu-list li:hover a {
		border-bottom: 3px solid #000;
	}

	.navbar .content .menu-list li.active {
		background-color: #fff;
		border-bottom: none;
	}

	.navbar .content .menu-list li.active a {
		border-bottom: 2px solid #000;
	}

	.navbar .content .menu-list li:hover {
		background-color: #fff;
		border-bottom: none;
	}
	.icon {
		display: block;
	}
	.navbar .content .box {
		top: 28px;
		width: calc(50vw - 70px);
		height: 50px;
	}
	.navbar .content .menu-btn {
		position: absolute;
		top: 28px;
		display: block;
		background-color: #4ba414;
		left: calc(50vw + 70px);
		right: 0;
		padding: 10px 0 10px calc(50vw - 120px);
	}
	.navbar .content .logo {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		width: fit-content;
		padding: 10px;
		z-index: 2;
		background-color: #fff;
		margin: 0 auto 0 auto;
	}

	.navbar.show .content .logo {
		top: 30px;
	}

	.navbar.show .nav-social {
		display: block;
		margin-top: 37vh;
		margin-left: 30px;
		font-size: 30px;
	}
	.navbar.show .nav-social a {
		color: #272343;
		margin-right: 1px;
	}
	.content p {
		width: 80vw;
	}
	footer {
		width: 100%;
		background: #4ba414;
		color: #fff;
		font-size: 15px;
	}
	.main-content {
		flex-wrap: wrap;
		flex-direction: column;
	}
	.main-content .box {
		margin: 5px 0;
	}
	.center .my-content .place .next {
		margin-left: 60px;
	}

	.title.about {
		background: url(https://images.unsplash.com/photo-1516880711640-ef7db81be3e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)
			no-repeat;
		background-position: center 15px;
		background-attachment: fixed;
		background-size: contain;
	}

	.title.team {
		background: url(https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)
			no-repeat;
		background-position: center;
		background-size: cover;
		background-attachment: unset;
	}

	.title.services {
		background: url(https://res.cloudinary.com/aadityac73/image/upload/v1606718862/assets/civil_ylnv5n.jpg) no-repeat;
		background-position: center 25px;
		background-size: contain;
		background-attachment: fixed;
	}

	.title.portfolio1 {
		background: url(https://res.cloudinary.com/aadityac73/image/upload/v1606719826/assets/bg-port_yl4iid.jpg) no-repeat;
		background-position: bottom;
		background-size: cover;
		background-attachment: unset;
	}

	.title.clientele1 {
		background: url(https://res.cloudinary.com/aadityac73/image/upload/v1607075078/assets/bg-client_u7z1dt.jpg)
			no-repeat;
		background-position: center;
		background-size: cover;
		background-attachment: unset;
	}

	.title.contact1 {
		background: url(https://res.cloudinary.com/aadityac73/image/upload/v1607075954/assets/bg-contact_p32xvt.jpg)
			no-repeat;
		background-position: center;
		background-size: cover;
		background-attachment: unset;
	}

	.service-img {
		position: relative;
		width: 100%;
		height: 280px;
		background: url(https://images.unsplash.com/photo-1595846936289-91371459c5bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)
			no-repeat;
		background-position: center;
		background-size: cover;
		overflow: hidden;
	}

	.service-img .desc {
		font-size: .9em;
	}

	.service-img.hover .desc {
		font-size: .9em;
	}
}

@media (max-width: 991px) {
	.portfolio .image-one img,
	.portfolio .image-two img {
		width: 100%;
		height: 230px;
	}
}

@media (max-width: 575px) {
	.navbar .content .menu-btn i {
		padding-left: 11px;
	}

	.cus-container {
		padding-top: 120px;
		padding-bottom: 30px;
	}
	.row .col-12 {
		margin-bottom: 30px;
	}
	.title {
		height: 130px;
	}
	.title .title-text {
		top: 17px;
	}
	.about-us .about-text {
		padding: 0 13px 0 13px;
	}
	.our-team .text .name.cust {
		font-size: 1.4em;
		letter-spacing: 1px;
	}
	.our-team .text {
		padding: 0 13px 0 13px;
	}
	.portfolio .image-one img,
	.portfolio .image-two img {
		width: 100%;
		height: 210px;
	}

	.portfolio .image-one,
	.portfolio .image-two {
		padding: 0 18px 0 18px;
	}

	.service {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.service .col-12 {
		padding: 0 15px 0 15px;
	}

	.service-img {
		position: relative;
		width: 100%;
		height: 250px;
		background: url(https://images.unsplash.com/photo-1595846936289-91371459c5bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)
			no-repeat;
		background-position: center;
		background-size: cover;
		overflow: hidden;
	}

	.service-img .text {
		top: 100px;
	}

	.service-img .text#hvac {
		font-size: 1.2em;
	}

	.service-img .desc {
		font-size: .8em;
		width: 320px;
	}

	.service-img.hover .desc {
		top: 60px;
		font-size: .8em;
	}

	.contact .map iframe {
		width: 100%;
		height: 300px;
		filter: grayscale();
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	.service .col-sm-12 {
		padding: 0 20px 0 20px;
		margin-bottom: 30px;
	}
}
